---
import Badge from "../../components/Badge.astro";
---

<div class="w-full">
  <div class="flex gap-4 mb-4">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      i'm Odiseo Esmerlin Rincon Sanchez
    </h1>
  </div>

  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  with over +1 years of experience. <strong>Software Developer</strong> from Santo Domingo,
    Dominican Republic. Specialized in developing APIs with .NET.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <a href="https://github.com/odiseo153" target="_blank">
      <Badge> <i class="fa-brands fa-github w-5"></i> Github</Badge>
    </a>

    <a
      href="https://www.linkedin.com/in/odiseo-esmerlin-rincon-sanchez-48053524b/"
      target="_blank"
    >
      <Badge><i class="fa-brands fa-linkedin w-5"></i>Linkedin</Badge>
    </a>
  </nav>
</div>

